[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    Content-Security-Policy = "default-src 'self' https:; script-src 'self' 'unsafe-inline' https://cdn.tailwindcss.com; style-src 'self' 'unsafe-inline' https:; font-src 'self' https://fonts.googleapis.com"

# SPA Fallback (Carrega index.html para qualquer rota)
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
