[build]
  publish = "."
  command = ""

[[redirects]]
  from = "/direito/*"
  to = "/direito/index.html"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
